$accent-color: #86E543;
$main-text-color: #ffffff;
$secondary-text-color: #86E543;
$green-text-color: #01383A;
$grey-text-color: #8D9289;
$main-bg-color: #01383A;

$basic-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$transition-time: 500ms cubic-bezier(0.4, 0, 0.2, 1);