<section class="blog">
   <div class="blog__container container add-padding">
      <h2 class="blog__title">Blog</h2>
      <ul class="chapter__list">
         <li class="chapter__item">
            <class class="chapter">
               <div class="chapter__wrap-big">
                  <div class="chapter__wrap-image-first">
                     <picture class="chapter__image-first">
                        <source srcset="
                           /src/images/blog-part/img_blog_1d_387_1x.jpg 1x,
                           /src/images/blog-part/img_blog_1d_387_2x.jpg 2x"
                           media="(min-width: 1280px)" />
                        <source srcset="
                           /src/images/blog-part/img_blog_1t_387_1x.jpg  1x,
                           /src/images/blog-part/img_blog_1t_387_2x.jpg  2x"
                           media="(min-width: 768px)" />
                        <source srcset="
                           /src/images/blog-part/img_blog_1m_480_1x.jpg  1x,
                           /src/images/blog-part/img_blog_1m_480_2x.jpg  2x"
                           media="(min-width: 480px)" />
                        <img src="/src/images/blog-part/img_blog_1m_480_1x.jpg" alt="Gaming Headset">
                     </picture>
                  </div>
                  <div class="chapter__wrap-small">
                     <div class="chapter__title">Guide to Picking The Right Gaming Headset</div>
                     <div class="chapter__wrap-extend">
                        <div class="chapter__box">
                           <div class="chapter__wrap-image-second">
                              <picture class="chapter__image-second">
                                 <source srcset="
                                    /src/images/blog-part/img_blog_1d_387_1x.jpg 1x,
                                    /src/images/blog-part/img_blog_1d_387_2x.jpg 2x"
                                    media="(min-width: 1280px)" />
                                 <source srcset="
                                    /src/images/blog-part/img_blog_1t_387_1x.jpg  1x,
                                    /src/images/blog-part/img_blog_1t_387_2x.jpg  2x"
                                    media="(min-width: 768px)" />
                                 <source srcset="
                                    /src/images/blog-part/img_blog_1m_480_1x.jpg  1x,
                                    /src/images/blog-part/img_blog_1m_480_2x.jpg  2x"
                                    media="(min-width: 480px)" />
                                 <img src="/src/images/blog-part/img_blog_1m_480_1x.jpg" alt="Gaming Headset">
                              </picture>
                           </div>
                           <div class="chapter__author">
                              <p class="chapter__name">By Ray Ian Ampoloquio</p> 
                              <p class="chapter__data">Updated on September 21, 2022</p>
                           </div>
                        </div>
                        <p class="chapter__citation">
                           Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple
                           steps.
                           Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs.
                           But,
                           as with any kind of
                           ...
                        </p>
                        <a class="chapter__link link" href="/src/blog-article.html">Learn more</a>
                     </div>
                  </div>
               </div>
            </class>
         </li>
         <li class="chapter__item">
            <div class="chapter__wrap-big">
               <div class="chapter__wrap-image-first">
                  <picture class="chapter__image-first">
                     <source srcset="
                        /src/images/blog-part/img_blog_2d_387_1x.jpg 1x,
                        /src/images/blog-part/img_blog_2d_387_2x.jpg 2x"
                        media="(min-width: 1280px)" />
                     <source srcset="
                        /src/images/blog-part/img_blog_2t_387_1x.jpg  1x,
                        /src/images/blog-part/img_blog_2t_387_2x.jpg  2x"
                        media="(min-width: 768px)" />
                     <source srcset="
                        /src/images/blog-part/img_blog_2m_480_1x.jpg  1x,
                        /src/images/blog-part/img_blog_2m_480_2x.jpg  2x"
                        media="(min-width: 480px)" />
                     <img src="/src/images/blog-part/img_blog_2m_480_1x.jpg" alt="Gaming Headset">
                  </picture>
               </div>
               <div class="chapter__wrap-small">
                  <div class="chapter__title">Mic Monitoring: What Is It and How It Is Relevant to Gaming</div>
                  <div class="chapter__wrap-extend">
                     <div class="chapter__box">
                        <div class="chapter__wrap-image-second">
                           <picture class="chapter__image-second">
                              <source srcset="
                                 /src/images/blog-part/img_blog_2d_387_1x.jpg 1x,
                                 /src/images/blog-part/img_blog_2d_387_2x.jpg 2x"
                                 media="(min-width: 1280px)" />
                              <source srcset="
                                 /src/images/blog-part/img_blog_2t_387_1x.jpg  1x,
                                 /src/images/blog-part/img_blog_2t_387_2x.jpg  2x"
                                 media="(min-width: 768px)" />
                              <source srcset="
                                 /src/images/blog-part/img_blog_2m_480_1x.jpg  1x,
                                 /src/images/blog-part/img_blog_2m_480_2x.jpg  2x"
                                 media="(min-width: 480px)" />
                              <img src="/src/images/blog-part/img_blog_2m_480_1x.jpg" alt="Gaming Headset">
                           </picture>
                        </div>
                        <div class="chapter__author">
                           <p class="chapter__name">By Gab L</p> 
                           <p class="chapter__data">Updated on September 10, 2022</p>
                        </div>
                     </div>
                     <p class="chapter__citation">
                        An explanation and exploration of microphone monitoring — its benefits
                        and how you can start using one of the most underrated features today ...
                     </p>
                     <a class="chapter__link link" href="/src/blog-article.html">Learn more</a>
                  </div>
               </div>
            </div>
         </li>
         <li class="chapter__item">
            <div class="chapter__wrap-big">
               <div class="chapter__wrap-image-first">
                  <picture class="chapter__image-first">
                     <source srcset="
                        /src/images/blog-part/img_blog_3d_387_1x.jpg 1x,
                        /src/images/blog-part/img_blog_3d_387_2x.jpg 2x"
                        media="(min-width: 1280px)" />
                     <source srcset="
                        /src/images/blog-part/img_blog_3t_387_1x.jpg  1x,
                        /src/images/blog-part/img_blog_3t_387_2x.jpg  2x"
                        media="(min-width: 768px)" />
                     <source srcset="
                        /src/images/blog-part/img_blog_3m_480_1x.jpg  1x,
                        /src/images/blog-part/img_blog_3m_480_2x.jpg  2x"
                        media="(min-width: 480px)" />
                     <img src="/src/images/blog-part/img_blog_3m_480_1x.jpg" alt="Gaming Headset">
                  </picture>
               </div>
               <div class="chapter__wrap-small">
                  <div class="chapter__title">How to Choose the Right Gaming Mouse</div>
                  <div class="chapter__wrap-extend">
                     <div class="chapter__box">
                        <div class="chapter__wrap-image-second">
                           <picture class="chapter__image-second">
                              <source srcset="
                                 /src/images/blog-part/img_blog_3d_387_1x.jpg 1x,
                                 /src/images/blog-part/img_blog_3d_387_2x.jpg 2x"
                                 media="(min-width: 1280px)" />
                              <source srcset="
                                 /src/images/blog-part/img_blog_3t_387_1x.jpg  1x,
                                 /src/images/blog-part/img_blog_3t_387_2x.jpg  2x"
                                 media="(min-width: 768px)" />
                              <source srcset="
                                 /src/images/blog-part/img_blog_3m_480_1x.jpg  1x,
                                 /src/images/blog-part/img_blog_3m_480_2x.jpg  2x"
                                 media="(min-width: 480px)" />
                              <img src="/src/images/blog-part/img_blog_3m_480_1x.jpg" alt="Gaming Headset">
                           </picture>
                        </div>
                        <div class="chapter__author">
                           <p class="chapter__name">By Michael Crider</p> 
                           <p class="chapter__data">Updated on September 2, 2022</p>
                        </div>
                     </div>
                     <p class="chapter__citation">
                        A good mouse can make a big difference when playing your favorite games. 
                        Here’s what you need to know about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming mouse ...
                     </p>
                     <a class="chapter__link link" href="/src/blog-article.html">Learn more</a>
                  </div>
               </div>
            </div>
         </li>
      </ul>   
   </div>
</section>