<section class="blog">
   <div class="container blog__container ">
      <h2 class="blog__title">Blog</h2>
      <article class="blog__article">
         <h2 class="blog__title">Guide to Picking The Right Gaming Headset</h2>
         <div class="wrap__container">
            <picture>
               <source srcset="
                        /src/images/blog-part/img_blog_1d_387_1x.jpg 1x,
                        /src/images/blog-part/img_blog_1d_387_2x.jpg 2x" media="(min-width: 1280px)" />
               <source srcset="
                        /src/images/blog-part/img_blog_1t_387_1x.jpg  1x,
                        /src/images/blog-part/img_blog_1t_387_2x.jpg  2x" media="(min-width: 768px)" />
               <source srcset="
                        /src/images/blog-part/img_blog_1m_480_1x.jpg  1x,
                        /src/images/blog-part/img_blog_1m_480_2x.jpg  2x" media="(min-width: 480px)" />
               <img class="blog__img" src="/src/images/blog-part/img_blog_1m_480_1x.jpg" alt="Gaming Headset">
            </picture>
         </div>
<div class="blo">
            <p class="blog__subtitle">By Ray Ian Ampoloquio</p>
            <p class="blog__subtext">Updated on September 21, 2022</p>
</div>
         <p class="blog__text">
            Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
            Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But,
            as with any kind of
            ...
         </p>
         <a class="blog__link link" href="#">Learn more</a>
      </article>
      <article class="blog__article">
         <h2 class="blog__title">Mic Monitoring: What Is It and How It Is Relevant to Gaming</h2>
         <div class="wrap__container">
            <picture>
               <source srcset="
                        /src/images/blog-part/img_blog_2d_387_1x.jpg 1x,
                        /src/images/blog-part/img_blog_2d_387_2x.jpg 2x" media="(min-width: 1280px)" />
               <source srcset="
                        /src/images/blog-part/img_blog_2t_387_1x.jpg  1x,
                        /src/images/blog-part/img_blog_2t_387_2x.jpg  2x" media="(min-width: 768px)" />
               <source srcset="
                        /src/images/blog-part/img_blog_2m_480_1x.jpg  1x,
                        /src/images/blog-part/img_blog_2m_480_2x.jpg  2x" media="(min-width: 480px)" />
               <img class="blog__img" src="/src/images/blog-part/img_blog_2m_480_1x.jpg" alt="Gaming">
            </picture>
         </div>
         <p class="blog__subtitle">By Gab L</p>
         <p class="blog__subtext">Updated on September 10, 2022</p>
         <p class="blog__text">
            An explanation and exploration of microphone monitoring — its benefits and how you can start using one
            of the most
            underrated features today...
         </p>
         <a class="blog__link link" href="#">Learn more</a>
      </article>
      <article class="blog__article">
         <h2 class="blog__title">How to Choose the Right Gaming Mouse</h2>
         <div class="wrap__container">
            <picture>
               <source srcset="
                        /src/images/blog-part/img_blog_3d_387_1x.jpg 1x,
                        /src/images/blog-part/img_blog_3d_387_2x.jpg 2x" media="(min-width: 1280px)" />
               <source srcset="
                        /src/images/blog-part/img_blog_3t_387_1x.jpg  1x,
                        /src/images/blog-part/img_blog_3t_387_2x.jpg  2x" media="(min-width: 768px)" />
               <source srcset="
                        /src/images/blog-part/img_blog_3m_480_1x.jpg  1x,
                        /src/images/blog-part/img_blog_3m_480_2x.jpg  2x" media="(min-width: 480px)" />
               <img class="blog__img" src="/src/images/blog-part/img_blog_3m_480_1x.jpg" alt="Gaming Mouse">
            </picture>
         </div>
         <p class="blog__subtitle">By Michael Crider</p>
         <p class="blog__subtext">Updated on September 2, 2022</p>
         <p class="blog__text">
            A good mouse can make a big difference when playing your favorite games. Here’s what you need to know
            about grip styles, types of gaming mice, technical specs, and more, before purchasing a new gaming
            mouse ...
         </p>
         <a class="blog__link link" href="#">Learn more</a>
      </article>
   </div>
</section>