<section>    
    <div class="container contacts-part__container">
        <h1 class="contacts-part__title">Сontacts</h1>
        <div class="contacts-part__picture">
        <picture>
            <source media="(min-width: 1280px)" 
            srcset="/src/images/contacts-part/img_contacts_3_1x.jpg 1x, /src/images/contacts-part/img_contacts_3_2x.jpg 2x">
            <source media="(min-width: 768px)" 
            srcset="/src/images/contacts-part/img_contacts_2_1x.jpg 1x, /src/images/contacts-part/img_contacts_2_2x.jpg 2x">
            <source media="(min-width: 480px)" 
            srcset="/src/images/contacts-part/img_contacts_1_1x.jpg 1x, /src/images/contacts-part/img_contacts_1_2x.jpg 2x">
            <img class="contacts-part__image" src="/src/images/contacts-part/img_contacts_1_1x.jpg" 
            alt="Keyboard with joystick">
        </picture>
        </div>

        <div class="contacts-part__wrap">              
            <div class="contacts-part__contacts">
                <p class="contacts-part__text">
                    In case of queries about order handling and/ <br>
                    or delay, drop us an email at <br>
                    <br>
                    info@shopforgamers.com
                </p> 
                
                <ul class="contacts-part_list list">
                    <li class="contacts-part__item">
                        <h2 class="contacts-part__subtitle">Email</h2>
                        <a class="contacts-part__link" href="mailto:sfg.info@gmail.com">Sfg.info@gmail.com</a>
                    </li>
                    <li class="contacts-part__item">
                        <h2 class="contacts-part__subtitle">Phone number</h2>
                        <a class="contacts-part__link" href="tel:+380936432288">+38 (093) 643 22 88</a>
                        <a class="contacts-part__link" href="tel:+380503454423">+38 (050) 345 44 23</a>
                    </li>
                    
                </ul>                
            </div>       
            <div class="contacts-form">
                <form class="register-form" name="register-form">
                    <h2 class="register-form__title"><strong>Contact us</strong></h2>
                    <div class="register-form__group" role="group">
                        <ul>
                            <li class="register-form__container">
                                <label class="register-form__label" for="user-name">Name</label>
                                <input class="register-form__input" type="text" name="user-name" id="user-name" required />
                            </li>
                            <li class="register-form__container">
                                <label class="register-form__label" for="user-email">Email</label>
                                <input class="register-form__input" type="text" name="user-email" id="user-email" required />
                            </li>
                            <li class="register-form__wrap">
                                <label class="register-form__field">
                                    <span class="register-form__heading">Leave your message</span>
                                    <textarea class="register-form__message" name="comment" rows="5"></textarea>
                                </label>
                            </li>
                        </ul>
            
                </div>
                <div class="register-form__btn">
                        <button class="form__btn" type="button" data-modal-contacts-open>Send</button>
                        <button class="is-hidden help-btn" type="button" data-modal-buy-open>
                </button>
                <button class="is-hidden help-btn" type="button" data-modal-add-open>
                </button>
                </div> 
                </form>
            </div>
        </div>            
    </div>
</section>



