<section class="swiper-wrap">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/gallery/img_gallery_1d_1x.jpg 1x,
              ./images/gallery/img_gallery_1d_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_1t_1x.jpg 1x,
              ./images/gallery/img_gallery_1t_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_1m_1x.jpg 1x,
              ./images/gallery/img_gallery_1m_2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_1m-320_1x.jpg 1x,
              ./images/gallery/img_gallery_1m-320_2x.jpg 2x
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/gallery/img_gallery_1m_1x.jpg"
            alt="gaming keyboard and mouse"
            class="gallery__image"
          />
        </picture>
        <h2 class="banner-title banner-title--one">
          One place <br class="hero__br--none" />
          for <br class="title__br--none" />
          everything you want
        </h2>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/gallery/img_gallery_2d_1x.jpg 1x,
              ./images/gallery/img_gallery_2d_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_2t_1x.jpg 1x,
              ./images/gallery/img_gallery_2t_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_2m_1x.jpg 1x,
              ./images/gallery/img_gallery_2m_2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_2m-320_1x.jpg 1x,
              ./images/gallery/img_gallery_2m-320_2x.jpg 2x
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/gallery/img_gallery_2m_1x.jpg"
            alt="gaming headset"
            class="gallery__image"
          />
        </picture>
        <h2 class="banner-title banner-title--two">
          Best shop for buying <br />
          GAMING PRODUCTS
        </h2>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/gallery/img_gallery_3d_1x.jpg 1x,
              ./images/gallery/img_gallery_3d_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_3t_1x.jpg 1x,
              ./images/gallery/img_gallery_3t_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_3m_1x.jpg 1x,
              ./images/gallery/img_gallery_3m_2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/gallery/img_gallery_3m-320_1x.jpg 1x,
              ./images/gallery/img_gallery_3m-320_2x.jpg 2x
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/gallery/img_gallery_3m_1x.jpg"
            alt="gaming joystick and mouse"
            class="gallery__image"
          />
        </picture>
        <h2 class="banner-title banner-title--three">
          High-quality <br />
          products <br />
          in lowest price
        </h2>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
