<header class="header">
   <div class="container">
      <a class="header__logo-text link" href="#">SHOP FOR
         GAMERS</a>
      <nav class="header__menu-nav">
         <ul class="header__list list">
            <li class="header__item"><a class="header__link link" href="">Accessories</a>
            </li>
            <li class="header__item"><a class="header__link link" href="">Take order</a></li>
            <li class="header__item"><a class="header__link link" href="">Contact</a></li>
            <li class="header__item"><a class="header__link link" href="">Blog</a></li>
         </ul>
      </nav>
      <a class="header__btn link" href="#">Shop now</a>
      <button type="button" class="menu__btn" aria-expanded="false" data-menu-btn>
         <svg width="40" height="40" aria-label="Переключатель мобильного меню" aria-controls="mob__menu">
            <use class="icon__close" href="./images/header/symbol-defs.svg#icon-btn-close"></use>
            <use class="icon__open" href="./images/header/symbol-defs.svg#icon-btn-open"></use>
         </svg>
      </button>
      <div class="mob__menu" id="mob__menu" data-menu>
         <ul class="mob-menu__list list">
            <li class="mob-menu__item"><a class="mob-menu__link link" href="#">Accessories</a>
            </li>
            <li class="mob-menu__item"><a class="mob-menu__link link" href="#">Take order</a>
            </li>
            <li class="mob-menu__item"><a class="mob-menu__link link" href="#">Contact</a>
            </li>
            <li class="mob-menu__item"><a class="mob-menu__link link" href="#">Blog</a>
            </li>
         </ul>
      </div>
   </div>
</header>