<header class="header">
   <div class="container">
      <a class="header__logo-text link" href="/src/index.html">SHOP FOR
         GAMERS</a>
      <nav class="header__menu-nav">
         <ul class="header__list list">
            <li class="header__item"><a class="header__link link" href="#">Accessories</a></li>
            <li class="header__item"><a class="header__link link" href="#">Contact</a></li>
            <li class="header__item"><a class="header__link link" href="#">Blog</a></li>
         </ul>
      </nav>
      <a class="header__btn link" href="#">Shop now</a>
   </div>
</header>