<header class="header">
   <div class="container">
      <a class="header__logo-text link" href="/src/index.html">SHOP FOR
         GAMERS</a>
      <nav class="header__menu-nav">
         <ul class="header__list list">
            <li class="header__item"><a class="header__link link" href="./pages/accessories.html">Accessories</a></li>
            <li class="header__item"><a class="header__link link" href="./pages/take-order.html">Take order</a></li>
            <li class="header__item"><a class="header__link link" href="./pages/contacts.html">Contact</a></li>
            <li class="header__item"><a class="header__link link" href="./pages/blog.html">Blog</a></li>
         </ul>
      </nav>
      <a class="header__btn link" href="#">Shop now</a>
      <button type="button" class="menu__open-btn">
         <svg width="54" height="36">
            <use href="./images/header/symbol-defs.svg#icon-btn-open"></use>
         </svg>
      </button>
   </div>
</header>