<!-- Кнопка для тестування скріпта -->
<button type="button" data-modal-contacts-open>
  Send
</button>
<!-- //// -->
<div class="backdrop is-hidden" data-modal-contacts>
  <div class="modal modal--contacts">
    <button class="modal__btn-close" type="button" data-modal-contacts-close aria-label="Закрити">
      <svg class="modal__icon" width="40" height="40">
        <use href="./images/modal/symbol-defs.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal__text">Thank you for your message! We will contact you soon!</p>
    <a class="modal__link link" href="./index.html">Ok</a>
  </div>
</div>