<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sale</title>
    <link rel="stylesheet" href="/src/sass/main.scss">
    <link rel="stylesheet" href="/src/sass/layouts/_sale.scss">
</head>
<body>
    <section class="section sale">
        <div class="conteiner">
            <h2 class="sale-title">Sale</h2>
            <ul class="sale-list list">
                <li class="sale-item">
                    <picture>
                        <source media="(min-width: 1200px)"
                        srcset="/src/images/sale/desc/img_sale_1g_285_1x-min.jpg, /src/images/sale/desc/img_sale_1g_285_2x-min.jpg">
                        <source media="(min-width: 768px)"
                        srcset="/src/images/sale/pad/img_sale_1g_285_1x-min.jpg, /src/images/sale/pad/img_sale_1g_285_2x-min.jpg">
                        <source media="(min-width: 480px)"
                        srcset="/src/images/sale/mobile/img_sale_1g_285_1x-min.jpg, /src/images/sale/mobile/img_sale_1g_285_2x-min.jpg">
                        <img src="/src/images/sale/mobile/img_sale_1g_285_1x-min.jpg" alt="">
                    </picture>
                    <div class="sale-info">
                        <p class="sale-text-name">Xiberia K9 PRO PC Headset</p>
                        <div class="price">
                            <p class="sale-text-sale">65.14 USD</p>
                            <p class="sale-text-price">55.14 USD</p>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <picture>
                        <source media="(min-width: 1200px)"
                        srcset="/src/images/sale/desc/img_sale_2k_285_1x-min.jpg, /src/images/sale/desc/img_sale_2k_285_2x-min.jpg">
                        <source media="(min-width: 768px)"
                        srcset="/src/images/sale/pad/img_sale_2k_285_1x-min.jpg, /src/images/sale/pad/img_sale_2k_285_2x-min.jpg">
                        <source media="(min-width: 480px)"
                        srcset="/src/images/sale/mobile/img_sale_2k_285_1x-min.jpg, /src/images/sale/mobile/img_sale_2k_285_2x-min.jpg">
                        <img src="/src/images/sale/mobile/img_sale_2k_285_1x-min.jpg" alt="">
                    </picture>
                    <div class="sale-info">
                        <p class="sale-text-name">RGB LED Backlit Mechanical Keyboard</p>
                        <div class="price">
                            <p class="sale-text-sale">156.00 USD</p>
                            <p class="sale-text-price">116.00 USD</p>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <picture>
                        <source media="(min-width: 1200px)"
                        srcset="/src/images/sale/desc/img_sale_3g_285_1x-min.jpg, /src/images/sale/desc/img_sale_3g_285_2x-min.jpg">
                        <source media="(min-width: 768px)"
                        srcset="/src/images/sale/pad/img_sale_3g_285_1x-min.jpg, /src/images/sale/pad/img_sale_3g_285_2x-min.jpg">
                        <source media="(min-width: 480px)"
                        srcset="/src/images/sale/mobile/img_sale_3g_285_1x-min.jpg, /src/images/sale/mobile/img_sale_3g_285_2x-min.jpg">
                        <img src="/src/images/sale/mobile/img_sale_3g_285_1x-min.jpg" alt="">
                    </picture>
                    <div class="sale-info">
                        <p class="sale-text-name">Xiberia K9 PRO PC Headset</p>
                        <div class="price">
                            <p class="sale-text-sale">65.14 USD</p>
                            <p class="sale-text-price">55.14 USD</p>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <picture>
                        <source media="(min-width: 1200px)"
                        srcset="/src/images/sale/desc/img_sale_4m_285_1x-min.jpg, /src/images/sale/desc/img_sale_4m_285_2x-min.jpg">
                        <source media="(min-width: 768px)"
                        srcset="/src/images/sale/pad/img_sale_4m_285_1x-min.jpg, /src/images/sale/pad/img_sale_4m_285_2x-min.jpg">
                        <source media="(min-width: 480px)"
                        srcset="/src/images/sale/mobile/img_sale_4m_285_1x-min.jpg, /src/images/sale/mobile/img_sale_4m_285_2x-min.jpg">
                        <img src="/src/images/sale/mobile/img_sale_4m_285_1x-min.jpg" alt="">
                    </picture>
                    <div class="sale-info">
                        <p class="sale-text-name">Xiberia K9 PRO PC Headset</p>
                        <div class="price">
                            <p class="sale-text-sale">65.14 USD</p>
                            <p class="sale-text-price">55.14 USD</p>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <div class="media-pad">
                        <picture>
                            <source media="(min-width: 1200px)"
                            srcset="/src/images/sale/desc/img_sale_5g_285_1x-min.jpg, /src/images/sale/desc/img_sale_5g_285_2x-min.jpg">
                            <source media="(min-width: 768px)"
                            srcset="/src/images/sale/pad/img_sale_5g_285_1x-min.jpg, /src/images/sale/pad/img_sale_5g_285_2x-min.jpg">
                            <img src="/src/images/sale/pad/img_sale_5g_285_1x-min.jpg" alt="">
                        </picture>
                        <div class="sale-info">
                            <p class="sale-text-name">Xiberia K9 PRO PC Headset</p>
                            <div class="price">
                                <p class="sale-text-sale">65.14 USD</p>
                                <p class="sale-text-price">55.14 USD</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                   <div class="media-pad">
                        <picture>
                            <source media="(min-width: 1200px)"
                            srcset="/src/images/sale/desc/img_sale_6k_285_1x-min.jpg, /src/images/sale/desc/img_sale_6k_285_2x-min.jpg">
                            <source media="(min-width: 768px)"
                            srcset="/src/images/sale/pad/img_sale_6k_285_1x-min.jpg, /src/images/sale/pad/img_sale_6k_285_2x-min.jpg">
                            <img src="/src/images/sale/pad/img_sale_6k_285_1x-min.jpg" alt="">
                        </picture>
                        <div class="sale-info">
                            <p class="sale-text-name">Xiberia K9 PRO PC Headset</p>
                            <div class="price">
                                <p class="sale-text-sale">65.14 USD</p>
                                <p class="sale-text-price">55.14 USD</p>
                            </div>
                        </div>
                   </div>
                </li>
                <li class="sale-item">
                    <div class="media-pad">
                        <picture>
                            <source media="(min-width: 1200px)"
                            srcset="/src/images/sale/desc/img_sale_7m_285_1x-min.jpg, /src/images/sale/desc/img_sale_7m_285_2x-min.jpg">
                            <source media="(min-width: 768px)"
                            srcset="/src/images/sale/pad/img_sale_7m_285_1x-min.jpg, /src/images/sale/pad/img_sale_7m_285_2x-min.jpg">
                            <img src="/src/images/sale/pad/img_sale_7m_285_1x-min.jpg" alt="">
                        </picture>
                        <div class="sale-info">
                            <p class="sale-text-name">Xiberia K9 PRO PC Headset</p>
                            <div class="price">
                                <p class="sale-text-sale">65.14 USD</p>
                                <p class="sale-text-price">55.14 USD</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sale-item">
                    <div class="media-pad">
                        <picture>
                            <source media="(min-width: 1200px)"
                            srcset="/src/images/sale/desc/img_sale_8g_285_1x-min.jpg, /src/images/sale/desc/img_sale_8g_285_2x-min.jpg">
                            <source media="(min-width: 768px)"
                            srcset="/src/images/sale/pad/img_sale_8g_285_1x-min.jpg, /src/images/sale/pad/img_sale_8g_285_2x-min.jpg">
                            <img src="/src/images/sale/pad/img_sale_8g_285_1x-min.jpg" alt="">
                        </picture>
                        <div class="sale-info">
                            <p class="sale-text-name">Xiberia K9 PRO PC Headset</p>
                            <div class="price">
                                <p class="sale-text-sale">65.14 USD</p>
                                <p class="sale-text-price">55.14 USD</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="bnt sale-bnt">View all</button>
        </div>
    </section>
</body>
</html>