<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sale</title>
    <link rel="stylesheet" href="/src/sass/main.scss">
    <link rel="stylesheet" href="/src/sass/layouts/_sale.scss">
</head>
<body>
    <section class="section sale">
        <div class="conteiner">
            <h2 class="sale-title">Sale</h2>
            <ul class="list">
                <li>
                    <picture>
                        <source media="(min-width: 1200px)"
                        srcset="/src/images/sale/desc/img_sale_1g_285_1x-min.jpg, /src/images/sale/desc/img_sale_1g_285_2x-min.jpg">
                        <source media="(min-width: 768px)"
                        srcset="/src/images/sale/pad/img_sale_1g_285_1x-min.jpg, /src/images/sale/pad/img_sale_1g_285_2x-min.jpg">
                        <source media="(min-width: 480px)"
                        srcset="/src/images/sale/mobile/img_sale_1g_285_1x-min.jpg, /src/images/sale/mobile/img_sale_1g_285_2x-min.jpg">
                        <img src="/src/images/sale/mobile/img_sale_1g_285_1x-min.jpg" alt="">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source media="(min-width: 1200px)"
                        srcset="/src/images/sale/desc/img_sale_2k_285_1x-min.jpg, /src/images/sale/desc/img_sale_2k_285_2x-min.jpg">
                        <source media="(min-width: 768px)"
                        srcset="/src/images/sale/pad/img_sale_2k_285_1x-min.jpg, /src/images/sale/pad/img_sale_2k_285_2x-min.jpg">
                        <source media="(min-width: 480px)"
                        srcset="/src/images/sale/mobile/img_sale_2k_285_1x-min.jpg, /src/images/sale/mobile/img_sale_2k_285_2x-min.jpg">
                        <img src="/src/images/sale/mobile/img_sale_2k_285_1x-min.jpg" alt="">
                    </picture>
                </li>
                <li>
                    <source media="(min-width: 1200px)"
                    srcset="/src/images/sale/desc/img_sale_3g_285_1x-min.jpg, /src/images/sale/desc/img_sale_3g_285_2x-min.jpg">
                    <source media="(min-width: 768px)"
                    srcset="/src/images/sale/pad/img_sale_3g_285_1x-min.jpg, /src/images/sale/pad/img_sale_3g_285_2x-min.jpg">
                    <source media="(min-width: 480px)"
                    srcset="/src/images/sale/mobile/img_sale_3g_285_1x-min.jpg, /src/images/sale/mobile/img_sale_3g_285_2x-min.jpg">
                    <img src="/src/images/sale/mobile/img_sale_3g_285_1x-min.jpg" alt="">
                </li>
                <li>
                    <source media="(min-width: 1200px)"
                    srcset="/src/images/sale/desc/img_sale_4m_285_1x-min.jpg, /src/images/sale/desc/img_sale_4m_285_2x-min.jpg">
                    <source media="(min-width: 768px)"
                    srcset="/src/images/sale/pad/img_sale_4m_285_1x-min.jpg, /src/images/sale/pad/img_sale_4m_285_2x-min.jpg">
                    <source media="(min-width: 480px)"
                    srcset="/src/images/sale/mobile/img_sale_4m_285_1x-min.jpg, /src/images/sale/mobile/img_sale_4m_285_2x-min.jpg">
                    <img src="/src/images/sale/mobile/img_sale_4m_285_1x-min.jpg" alt="">
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
</body>
</html>