<section class="section sale">
  <div class="sale_container container">
    <h2 class="sale_title">Sale</h2>
    <ul class="sale-list list">
      <li class="sale-item">
        <img
          srcset="
            /src/images/sale/img_sale_1_285_1x.jpeg 1x,
            /src/images/sale/img_sale_1_285_2x.jpeg 2x
          "
          src="/src/images/sale/img_sale_1_285_1x.jpeg"
          alt="Гарнітура з підсвіткою"
          width="285"
        />
        <div class="sale-info">
          <p class="sale-text-name">Xiberia K9 PRO PC Headset</p>
          <div class="price">
            <p class="sale-text-sale">65.14 USD</p>
            <p class="sale-text-price">55.14 USD</p>
          </div>
        </div>
      </li>

      <li class="sale-item">
        <img
          srcset="
            /src/images/sale/img_sale_2_285_1x.jpeg 1x,
            /src/images/sale/img_sale_2_285_2x.jpeg 2x
          "
          src="/src/images/sale/img_sale_2_285_1x.jpeg"
          alt="Гарнітура з підсвіткою"
          width="285"
        />

        <div class="sale-info">
          <p class="sale-text-name">G95 Light Surround Gaming Headset</p>
          <div class="price">
            <p class="sale-text-sale">78.98 USD</p>
            <p class="sale-text-price">50.98 USD</p>
          </div>
        </div>
      </li>

      <li class="sale-item">
        <img
          srcset="
            /src/images/sale/img_sale_3_285_1x.jpeg 1x,
            /src/images/sale/img_sale_3_285_2x.jpeg 2x
          "
          src="/src/images/sale/img_sale_3_285_1x.jpeg"
          alt="Чорна гарнітура"
          width="285"
        />

        <div class="sale-info">
          <p class="sale-text-name">G95 Light Surround Gaming Headset</p>
          <div class="price">
            <p class="sale-text-sale">78.98 USD</p>
            <p class="sale-text-price">50.98 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <img
          srcset="
            /src/images/sale/img_sale_4_285_1x.jpeg 1x,
            /src/images/sale/img_sale_4_285_2x.jpeg 2x
          "
          src="/src/images/sale/img_sale_4_285_1x.jpeg"
          alt="Гарнітура з червоними вставками"
          width="285"
        />
        <div class="sale-info">
          <p class="sale-text-name">Logitech G230 Stereo Gaming Headset</p>
          <div class="price">
            <p class="sale-text-sale">160.00 USD</p>
            <p class="sale-text-price">110.00 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <img
          srcset="
            /src/images/sale/img_sale_5_285_1x.jpeg 1x,
            /src/images/sale/img_sale_5_285_2x.jpeg 2x
          "
          src="/src/images/sale/img_sale_5_285_1x.jpeg"
          alt="Чорна клавіатура з кольоровою підсвіткою"
          width="285"
        />
        <div class="sale-info">
          <p class="sale-text-name">RGB LED Backlit Mechanical Keyboard</p>
          <div class="price">
            <p class="sale-text-sale">156.00 USD</p>
            <p class="sale-text-price">116.00 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <img
          srcset="
            /src/images/sale/img_sale_6_285_1x.jpeg 1x,
            /src/images/sale/img_sale_6_285_2x.jpeg 2x
          "
          src="/src/images/sale/img_sale_6_285_1x.jpeg"
          alt="Чорна клавіатура"
          width="285"
        />
        <div class="sale-info">
          <p class="sale-text-name">K569 RGB LED Backlit Mechanical Keyboard</p>
          <div class="price">
            <p class="sale-text-sale">156.98 USD</p>
            <p class="sale-text-price">112.16 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <div class="media-pad">
          <img
            srcset="
              /src/images/sale/img_sale_7_285_1x.jpeg 1x,
              /src/images/sale/img_sale_7_285_2x.jpeg 2x
            "
            src="/src/images/sale/img_sale_7_285_1x.jpeg"
            alt="Мишка з зеленою підсвіткою"
            width="285"
          />
          <div class="sale-info">
            <p class="sale-text-name">Malloom 1200 DPI 2.4Ghz Wireless Mouse</p>
            <div class="price">
              <p class="sale-text-sale">44.24 USD</p>
              <p class="sale-text-price">29.93 USD</p>
            </div>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <div class="media-pad">
          <img
            srcset="
              /src/images/sale/img_sale_8_285_1x.jpeg 1x,
              /src/images/sale/img_sale_8_285_2x.jpeg 2x
            "
            src="/src/images/sale/img_sale_8_285_1x.jpeg"
            alt="Мишка з фіолетовою підсвіткою"
            width="285"
          />
          <div class="sale-info">
            <p class="sale-text-name">DARSHION 3200 DPI MZ-17 Gaming Mouse</p>
            <div class="price">
              <p class="sale-text-sale">48.00 USD</p>
              <p class="sale-text-price">32.00 USD</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button class="sale-btn">View all</button>
  </div>
</section>
