<section class="section take-order">
  <div class="container">
    <strong class="order">Take order</strong>
    <div class="wrap">
      <h2 class="wrap__title">Xiberia K9 PRO PC Headset</h2>
      <div class="subwrap">
        <div class="goods">
        <div class="cover-image">
          <div class="img-price">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/take-order/im1/img_order_1d_387_1x.jpg 1x,
              /src/images/take-order/im1/img_order_1d_774_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/take-order/im1/img_order_1t_387_1x.jpg 1x,
              /src/images/take-order/im1/img_order_1t_774_2x.jpg 2x
            "
          />
          <source
            media="(min-width: 480px)"
            srcset="
              /src/images/take-order/im1/img_order_1m_288_1x.jpg 1x,
              /src/images/take-order/im1/img_order_1m_576_2x.jpg 2x
            "
          />
          <img
            class="image image-order"
            src="/src/images/take-order/im1/img_order_1m_288_1x.jpg"
            alt="headphones_1"
          />
        </picture>

          <div class="prices">
          <div class="price old-price">65.14 USD</div>
          <div class="price new-price">55.14 USD</div>
        </div>
        </div>

        <div class="card-set">
          <ul class="list card-set-list">
            <li class="item item-card-set">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /src/images/take-order/im2/img_order_2d_155_1x.jpg 1x,
                    /src/images/take-order/im2/img_order_2d_310_2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/take-order/im2/img_order_2t_154_1x.jpg 1x,
                    /src/images/take-order/im2/img_order_2t_308_2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 480px)"
                  srcset="
                    /src/images/take-order/im2/img_order_2m_60_1x.jpg  1x,
                    /src/images/take-order/im2/img_order_2m_120_2x.jpg 2x
                  "
                />
                <img
                  class="image image-order-set"
                  src="/src/images/take-order/im2/img_order_2m_60_1x.jpg"
                  alt="headphones_2"
                />
              </picture>
            </li>

            <li class="item item-card-set">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /src/images/take-order/im3/img_order_3d_155_1x.jpg 1x,
                    /src/images/take-order/im3/img_order_3d_310_2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/take-order/im3/img_order_3t_154_1x.jpg 1x,
                    /src/images/take-order/im3/img_order_3t_308_2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 480px)"
                  srcset="
                    /src/images/take-order/im3/img_order_3m_60_1x.jpg  1x,
                    /src/images/take-order/im3/img_order_3m_120_2x.jpg 2x
                  "
                />
                <img
                  class="image image-order-set"
                  src="/src/images/take-order/im3/img_order_3m_60_1x.jpg"
                  alt="headphones_3"
                />
              </picture>
            </li>

            <li class="item item-card-set">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /src/images/take-order/im4/img_order_4d_155_1x.jpg 1x,
                    /src/images/take-order/im4/img_order_4d_310_2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/take-order/im4/img_order_4t_154_1x.jpg 1x,
                    /src/images/take-order/im4/img_order_4t_308_2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 480px)"
                  srcset="
                    /src/images/take-order/im4/img_order_4m_60_1x.jpg  1x,
                    /src/images/take-order/im4/img_order_4m_120_2x.jpg 2x
                  "
                />
                <img
                  class="image image-order-set"
                  src="/src/images/take-order/im4/img_order_4m_60_1x.jpg"
                  alt="headphones_4"
                />
              </picture>
            </li>

            <li class="item item-card-set">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /src/images/take-order/im5/img_order_5d_155_1x.jpg 1x,
                    /src/images/take-order/im5/img_order_5d_310_2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/take-order/im5/img_order_5t_154_1x.jpg 1x,
                    /src/images/take-order/im5/img_order_5t_308_2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 480px)"
                  srcset="
                    /src/images/take-order/im5/img_order_5m_60_1x.jpg  1x,
                    /src/images/take-order/im5/img_order_5m_120_2x.jpg 2x
                  "
                />
                <img
                  class="image image-order-set"
                  src="/src/images/take-order/im5/img_order_5m_60_1x.jpg"
                  alt="headphones_5"
                />
              </picture>
            </li>
          </ul>
        </div>

        

        <div class="wrap wrap-form">
        <form class="form form-order">
          <h3 class="title form-title">CONTACT US</h3>
          <div class="wrap wrap-inputs">
            <label class="label label-f"
              >Name
              <input class="input input-field" name="username" />
            </label>
            <label class="label label-f"
              >Email
              <input class="input input-field" name="email" />
            </label>
            <label class="label label-f"
              >Color Option
              <input class="input input-field" name="option" />
              <!-- <svg class="icon icon-field" width="18" height="13">
                <use href="./images/take-order/sprite/icons.svg#icon-down/"></use>
              </svg> -->
            </label>
            <label class="label label-f"
              >Quantity
              <input class="input input-field" name="quantity" />
              <!-- <svg class="icon icon-field" width="18" height="13">
                <use href="./images/take-order/sprite/icons.svg#icon-down/"></use>
              </svg> -->
            </label>
            <label class="label label-f"
              >Payment
              <input class="input input-field" name="payment" />
              <!-- <svg class="icon icon-field" width="18" height="13">
                <use href="./image/take-order/sprite/icons.svg#icon-down/"></use>
              </svg> -->
            </label>
            <label class="label label-t"
              >Leave your message
              <textarea class="message" type="text"> </textarea>
            </label>
          </div>
            <div class="subwrap subwrap-btn">
              <button type="button" class="btn btn-light">buy it now</button>
              <button type="button" class="btn btn-dark">ADD TO CART</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

