<section class="take-order">
  <container class="container">
    <strong class="order">Take order</strong>
    <div class="wrap">
      <h2 class="wrap__title">Xiberia K9 PRO PC Headset</h2>
      <div class="subwrap">
        <img
          class="image"
          srcset="
            ./images/1/m1@288.jpg 288w,
            ./images/1/m1@576.jpg 576w,
            ./images/1/t1@387.jpg 387w,
            ./images/1/t1@774.jpg 774w,
            ./images/1/d1@387.jpg 387w,
            ./images/1/d1@774.jpg 774w
          "
          sizes="(min-width: 1280px) 387px, (min-width: 768px) 387px,
            (min-width: 480px) 288px"
          src="./images/1/t1@387.jpg"
          alt="headphones_1"
          width="387"
          height="346"
          loading="lazy"
        />
        <p class="price old-price">65.14 USD</p>
        <p class="price new-price">55.14 USD</p>
      </div>
      <div class="card-set">
        <ul class="list card-set-list">
          <li class="item item-card-set">
            <img
              class="image img-card-set"
              srcset="
                ./images/2/m2@60.jpg   60w,
                ./images/2/m2@120.jpg 120w,
                ./images/2/t2@154.jpg 154w,
                ./images/2/t2@308.jpg 308w,
                ./images/2/d2@155.jpg 155w,
                ./images/2/d2@310.jpg 310w
              "
              sizes="(min-width: 1280px) 155px, (min-width: 768px) 154px,
            (min-width: 480px) 60px"
              src="./images/2/t2@154.jpg"
              alt="headphones_2"
              width="154"
              height="160"
              loading="lazy"
            />
          </li>
          <li class="item item-card-set">
            <img
              class="image img-card-set"
              srcset="
                ./images/3/m3@60.jpg   60w,
                ./images/3/m3@120.jpg 120w,
                ./images/3/t3@154.jpg 154w,
                ./images/3/t3@308.jpg 308w,
                ./images/3/d3@155.jpg 155w,
                ./images/3/d3@310.jpg 310w
              "
              sizes="(min-width: 1280px) 155px, (min-width: 768px) 154px,
            (min-width: 480px) 60px"
              src="./images/3/t3@154.jpg"
              alt="headphones_3"
              width="154"
              height="160"
              loading="lazy"
            />
          </li>
          <li class="item item-card-set">
            <img
              class="image img-card-set"
              srcset="
                ./images/4/m4@60.jpg   60w,
                ./images/4/m4@120.jpg 120w,
                ./images/4/t4@154.jpg 154w,
                ./images/4/t4@308.jpg 308w,
                ./images/4/d4@155.jpg 155w,
                ./images/4/d4@310.jpg 310w
              "
              sizes="(min-width: 1280px) 155px, (min-width: 768px) 154px,
            (min-width: 480px) 60px"
              src="./images/4/t4@154.jpg"
              alt="headphones_4"
              width="154"
              height="160"
              loading="lazy"
            />
          </li>
          <li class="item item-card-set">
            <img
              class="image img-card-set"
              srcset="
                ./images/5/m5@60.jpg   60w,
                ./images/5/m5@120.jpg 120w,
                ./images/5/t5@154.jpg 154w,
                ./images/5/t5@308.jpg 308w,
                ./images/5/d5@155.jpg 155w,
                ./images/5/d5@310.jpg 310w
              "
              sizes="(min-width: 1280px) 155px, (min-width: 768px) 154px,
            (min-width: 480px) 60px"
              src="./images/5/t5@154.jpg"
              alt="headphones_5"
            />
          </li>
        </ul>
      </div>
      <div class="wrap wrap-form">
        <form class="form form-order">
          <h3 class="title form-title">CONTACT US</h3>
          <div class="wrap wrap-inputs">
            <label class="label label-f"
              >Name
              <input class="input input-field" name="username" />
            </label>
            <label class="label label-f"
              >Email
              <input class="input input-field" name="email" />
            </label>
            <label class="label label-f"
              >Color Option
              <input class="input input-field" name="option" />
              <svg class="icon icon-field" width="18" height="13">
                <use href="./images/icons.svg#icon-down/"></use>
              </svg>
            </label>
            <label class="label label-f"
              >Quantity
              <input class="input input-field" name="quantity" />
              <svg class="icon icon-field" width="18" height="13">
                <use href="./images/icons.svg#icon-down/"></use>
              </svg>
            </label>
            <label class="label label-f"
              >Payment
              <input class="input input-field" name="payment" />
              <svg class="icon icon-field" width="18" height="13">
                <use href="./images/icons.svg#icon-down/"></use>
              </svg>
            </label>
            <label class="label label-t"
              >Leave your message
              <textarea class="message" type="text"> </textarea>
            </label>
          </div>
          <div class="subwrap subwrap-btn">
            <button type="button" class="btn btn-light">buy it now</button>
            <button type="button" class="btn btn-dark">ADD TO CART</button>
          </div>
        </form>
      </div>
    </div>
  </container>
</section>
