.blog {
   @extend %bg_t_1;
   @extend %bg_d_3;
}

.blog__container {
@extend %bg_lines
}

.wrap__container {
   margin-right: -16px;
   margin-left: -16px;

   @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
   }
}
.blog-subtitles {

   @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }
   @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      //width: 692px;
   }
}

.blog__texts {
   @include desktop {
      width: 693px;
   }
}

.blog__description {
   @include desktop {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
   }
}

.blog__titless {

}
.blog__titles-one {
         @include desktop {
            display: none;
         }
}

.blog__titles-two {
   display: none;
   @include desktop {
      display: block;
      width: 692px;
   }
}

.blog__tit {
   @include desktop {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
   }
}

//.blog__titles {
//   @include tablet {
//      display: flex;
//      flex-wrap: wrap;
//   }
//   @include desktop {
//      width: 692px;
//      flex-direction: row-reverse;
//   }
//}

// .blog__container {
//          background-repeat: no-repeat;
//          background-position: center;
//          background-size: cover;
//          background-image: url('../images/blog-part/img_blog_bg_t_1x.jpg');
      
//          @media (min-device-pixel-ratio: 2),
//          (-webkit-min-device-pixel-ratio: 2),
//          (min-resolution: 192dpi),
//          (min-resolution: 2dppx) {
//             background-image: url('../images/blog-part/img_blog_bg_t_2x.jpg');
//          }
      
//          @media screen and (min-width: 1280px) {
//             background-image: url('../images/blog-part/img_blog_bg_d_1x.jpg');
      
//             @media (min-device-pixel-ratio: 2),
//             (-webkit-min-device-pixel-ratio: 2),
//             (min-resolution: 192dpi),
//             (min-resolution: 2dppx) {
//                background-image: url('../images/blog-part/img_blog_bg_d_2x.jpg');
//             }
//          }
// }

.blog__title-first {
   margin-bottom: 31px;
   font-weight: 500;
   color: #FFFFFF;

   @include tablet {
      margin-bottom: 75px;
      font-size: 56px;
      line-height: 1.18;
   }
}

.blog__title {
   margin-bottom: 16px;
   font-weight: 500;
   line-height: 1.18;
   color: #FFFFFF;

   @include tablet {
      font-size: 56px;
   }
   @include desktop {
      margin-bottom: 52px;
   }
}

.blog__title-a {
   font-weight: 500;
   line-height: 1.18;
   color: #FFFFFF;

   @include tablet {
      margin-bottom: 24px;
      font-size: 56px;
   }
}

.blog__article {
   padding-bottom: 40px;

   &:last-child {
      padding-bottom: 48px;
   }
}

.blog__img {
   @include tablet {
      width: 387px;
      border-radius: 12px;
   }
}

.blog__subtitle {
   font-weight: 500;
   font-size: 24px;
   line-height: 1.16;
   color: #FFFFFF;
   margin-bottom: 24px;
}

.blog__link {
   margin-left: auto;
   font-weight: 500;
   font-size: 16px;
   line-height: 1;
   color: #86E543;

   @include tablet {
      margin-top: 16px;
      font-size: 24px;
   }
}

.blog__text {
   font-size: 16px;
   line-height: 1.18;
   color: #FFFFFF;

   @include tablet {
   font-size: 24px;
   line-height: 1.16;
   }
}

.blog__subtext {
   font-weight: 500;
   font-size: 16px;
   line-height: 1;
   color: #8D9289;

   @include tablet {
      margin-bottom: 24px;
      font-size: 24px;
   }
}