.container-article {
    font-family: $basic-font;
    font-style: normal;
    background-image: url(../images/background/article_background.jpg);

    padding: 40px 16px 48px;

@include tablet {
    padding: 120px 40px;
    }
@include desktop {
    padding: 112px 40px 120px;
}
}

.container-article__header {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.16;

        color: $main-text-color;

@include tablet {
    font-weight: 500;
        font-size: 56px;
        line-height: 1;
        margin-top: 0px;
    }
}

.container-article__image-box {
    margin-left: -16px;
    margin-right: -16px;
    
@include tablet {
    display: flex;
    flex-wrap: wrap;
    }
}

.container-article__image {
@include tablet {
        height: 228px;
        border-radius: 12px;
    }
}

.container-article__second-header-container {
    @include tablet {
        width: 248px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    @include desktop {
        flex-direction: row;
        width: 100%;
    }
}

.container-article__second-header {
        font-weight: 600;
        font-size: 16px;
        line-height: 1;

        color: $main-text-color;

@include tablet {
    font-weight: 600;
        font-size: 24px;
        line-height: 1;

        color: $accent-color;
    }
}

.container-article__date {
        font-weight: 600;
        font-size: 16px;
        line-height: 1;

        color: $grey-text-color;

@include tablet {
    font-weight: 600;
        font-size: 24px;
        line-height: 1;
    }
}

.container-article__general {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
}

.container-article__thumb {
@include desktop {
    width: 600px;
    }
}

.container-article__text {
        color: $main-text-color;

@include tablet {
    font-weight: 400;
        font-size: 24px;
        line-height: 1.16;
    }
}

.container-article__req {
        color: $main-text-color;

@include tablet {
    font-weight: 400;
            font-size: 24px;
            line-height: 1.16;
    }        
}

.container-article__title-wrap {
    @include desktop {
        width: 620px;
    }
}

.container-article__third-header {
    font-weight: 400;
    font-size: 16px;
    color: $main-text-color;

@include tablet {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: $accent-color;
    }
}

.container-article__list-container {}

.container-article__list {
    padding-left: 16px; 

@include tablet {
    margin-top: 0px;
    padding-left: 40px;
    color: $accent-color;
    }
}

.container-article__list-item {}

.container-article__second-text-container {}

.container-article__second-text {
    @include tablet {
        margin: 0px;
    }
}