.container-article {
        position: absolute;
        background-image: url(../images/background/article_background.png);
}

.container-article__header {
        font-family: $basic-font;
                font-style: normal;
                font-weight: 600;
                font-size: 56px;
                line-height: 1;
        color: $main-text-color;
}

.container-article__image {
        position: absolute;
                width: 387px;
                height: 336px;
                width: 387px;
                height: 336px;
                left: 40px;
                top: 411px;
        border-radius: 12px;
}

.container-article__thumb {
        padding: 40px;
}

.container-article__second-header {
        font-family: $basic-font;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 1;
        color: $secondary-text-color;
}

.container-article__date {
        font-family: $basic-font;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 1;
        color: $grey-text-color;
}

.container-article__text {}

.container-article__req {
        padding: 48 40px;
}

.container-article__third-header {
        color: $secondary-text-color;
}

.container-article__list {
        font-family: $basic-font;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 1.16;
        color: $secondary-text-color;
}

.container-article__list-item {}

.container-article__second-text {
        font-family: $basic-font;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 1.16;
        color: $main-text-color;
}