.contacts-part {
    padding-top: 40px;
    padding-bottom: 48px;
    background: $green-text-color;

    @include tablet {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.contacts-part__image {
    @include tablet {
        border-radius: 12px;
    }          
}

.contacts-part__title {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 24px;
    line-height: calc(28 / 24);
    color: $main-text-color;

    @include tablet {
        margin-bottom: 8px;
        margin-left: 59px;
        font-size: 56px;
        line-height: calc(66 / 56);
    }

    @include desktop {
        margin-left: 102px;
    }
}

.contacts-part__container {
    margin-top: 16px;

    @include tablet {
        margin-top: 32px;            
    }

    @include desktop {        
        margin-top: 59px;
        display: flex;
    }
}

.contacts-part__contacts {
    margin-bottom: 24px;
    @include tablet {
       margin-bottom: 40px;
       margin-right: 200px;
   }

    @include desktop {
       margin-bottom: 0;
       margin-right: 122px;
    }
}

.contacts-part__text {    
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: $main-text-color;    

    @include tablet {        
        font-size: 24px;
        line-height: calc(28 / 24);        
    }        
}

.contacts-part_list {
    margin-top: 24px;    
    
    @include tablet {
        display: flex;
        margin-top: 32px;            
    }
    
    @include desktop {
        display: block;
        margin-top: 40px;
    }
}

.contacts-part__item {
    margin-right: 141px;

    @include tablet {
        margin-right: 217px;
    }
    
    @include desktop {
        margin-right: 392;
    }
}

.contacts-part__item:not(:last-child) {    
    margin-bottom: 24px;

    @include tablet {
        margin-bottom: 0;
    }

    @include desktop {
        margin-bottom: 40px;
    }
}

.contacts-part__subtitle {
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: $main-text-color;

    @include tablet {
        // padding-bottom: 0;
        font-size: 24px;
        line-height: calc(28 / 24);
    }
}

.contacts-part__link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: $grey-text-color;
    text-decoration: none;

    @include tablet {
        font-size: 24px;
        line-height: calc(28 / 24);
    }
}

.contacts-form {    
    @include desktop {
        display: flex;
    }
}

.register-form {
    @include tablet {
        margin: 0 48px;
       
    }
}

.register-form__title {
    font-weight: 600;
    font-size: 24px;
    line-height: calc(28 / 24);
    color: $accent-color;

    @include tablet {
        font-size: 36px;
        line-height: calc(42 / 36);
        }
}

.register-form__group {
    margin-top: 16px;    
}

.register-form__input {
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);    
    background-color: $green-text-color;

    border-bottom: 1px solid #86E543;
    border-top: none;
    border-right: none;
    border-left: none;

    &::-webkit-input-placeholder {
            color: $main-text-color;
        }

    &::-moz-placeholder {
            color: $main-text-color;
        }
}

.register-form__heading {    
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: #CDCDCD;    
}

.register-form__message {
    display: block;
    background-color: $green-text-color;    
    border: 1px solid #86E543;
}

.register-form__btn {
    width: 173px;
    margin-top: 24px;
    padding: 16px 20px;
    background-color: $green-text-color;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    color: $main-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19 / 16);  
       
    @include tablet {
        width: 306px;
        margin-top: 34px;
        font-size: 32px;
        line-height: calc(38 / 32);
    }      

    @include desktop {            
        margin-top: 47px;            
    }
}