.header-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #01383a;
}

.header::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #01383a;
  box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;

  @include tablet {
    height: 136px;
  }
}

.header__logo-text {
  z-index: 3;
  width: 115px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: $main-text-color;
}

.header__list {
  display: none;
  padding: 5px;
  margin-left: 10px;
  @include desktop {
    z-index: 2;
    display: flex;
    gap: 48px;
  }
}

.header__menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;

  @include desktop {
    position: relative;
    z-index: 2;
    display: flex;
  }
}

.header__link {
  font-size: 16px;
  line-height: 1;
  color: $main-text-color;
  padding: 5px 0;

  &:hover,
  &:focus {
    color: $accent-color;
    align-items: center;
    border-bottom: 1px solid #86e543;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.3s;
  }
}

//mob-menu ---------------------------------- //

.menu__btn {
  z-index: 3;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @include desktop {
    display: none;
  }
}

.menu__btn .icon__close {
  display: none;
}

.menu__btn.is__open .icon__close {
  display: block;
}

.menu__btn.is__open .icon__open {
  display: none;
}

.mob__nav {
  top: 0;
  left: 0;
}

.mob__menu {
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 168px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/header/img_header_1m_320_1x.jpg');

  @media screen and (max-width: 480px) {
    max-width: 480px;
    padding-top: 192px;
    background-image: url('../images/header/img_header_1m_480_1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/img_header_2m_960_2x.jpg');
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 256px;
    background-image: url('../images/header/img_header_1t_768_1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/img_header_2t_1536_2x.jpg');
    }
  }

  &.is__open {
    display: block;
  }
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.mob-menu__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;

  @include tablet {
    font-size: 32px;
    line-height: 1.18;
  }
}

.header__btn {
  display: none;

  @include tablet {
    position: relative;
    z-index: 3;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #000000;
    padding: 16px 20px;
    background: #86e543;
    border-radius: 16px;
    transition: $transition-time;

    &:hover,
    &:focus {
      box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
        0px 4px 10px rgba(255, 255, 255, 0.1);
    }
  }
}
