.header-container {
   position: relative;
   width: 100%;
   margin: 0 auto;

   @include mobile {
      width: 480px;
   }

   @include tablet {
      position: relative;
      width: 768px;
   }

   @include desktop {
      width: 1280px;
   }
}

.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header::before {
   content: '';
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #01383a;
   box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
   0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
}

.header > .container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 104px;
   @include tablet {
      height: 136px;
   }
}

.header__logo-text {
   position: relative;
   z-index: 3;
   width: 115px;
   font-family: 'Roboto'; 
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.16; 
   text-align: center;
   color: $main-text-color;

   @include tablet {
   width: 156px;
}

   @include desktop {
      width: 121px;
   }
}

.header__menu-nav {
   pointer-events: none;
}

.header__list {
   display: none;

   @include desktop {
      z-index: 2;
      position: relative;
      display: flex;
      gap: 48px;
   }
}

.header__menu-nav {
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;

   @include desktop {
      position: relative;
      z-index: 2;
      display: flex;
   }
}

.header__link {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1;
   color: $main-text-color;
   padding-bottom: 8px;

   &:hover {
      box-sizing: border-box;
      border-bottom: 1px solid #86e543;
   }
}

//mob-menu ---------------------------------- //

.menu__btn {
   position: relative;
   z-index: 3;
   display: inline-block;
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;

   @media screen and (min-width: 768px) {
      display: flex;
   }

   @include desktop {
      display: none;
   }
}

.menu__btn .icon__close {
   display: none;
}

.menu__btn.is__open .icon__close {
   display: block;
}

.menu__btn.is__open .icon__open {
   display: none;
}

.mob__nav {
   position: fixed;
   top: 0;
   left: 0;
}

.mob__menu {
   margin: 0 auto;
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   text-align: center;
   padding-top: 168px;
      //transform: translateY(-100%);
      transition: transform 250ms ;

  background-repeat: no-repeat;
//  background-position: center;
  background-size: cover;
  background-image: url('../images/header/img_header_1m_320_1x.jpg');

  @include retina {
    background-image: url('../images/header/img_header_2m_640_2x.jpg');
  }

  @include mobile {
    padding-top: 192px;
    background-image: url('../images/header/img_header_1m_480_1x.jpg');

    @include retina {
      background-image: url('../images/header/img_header_2m_960_2x.jpg');
    }
  }

  @include tablet {
    padding-top: 256px;
    background-image: url('../images/header/img_header_1t_768_1x.jpg');

    &retina {
      background-image: url('../images/header/img_header_2t_1536_2x.jpg');
    }
  }

  &.is__open {
    display: block;
  }
}

.mob-menu__list {
}

.mob-menu__item {
  margin-bottom: 40px;
}

.mob-menu__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;

  @include tablet {
    font-size: 32px;
    line-height: 1.18;
  }
}
