.sale {
  padding-bottom: 64px;
  @extend %bg_m_1;
  @extend %bg_t_sale;
  @extend %bg_d_1--bottom;

  @media screen and (max-width: 1279px) {
      margin-top: -1px;
    }
  
  @include tablet {
      padding-bottom: 120px;
    }
  
  @include desktop {
      padding-bottom: 136px;
    }
}

.sale__container {
  @extend %bg_lines--sale;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding-left: 80px;
      padding-right: 80px;
    }
}

.sale__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  padding-left: 62px;
  margin-bottom: 35px;

  @include mobile {
    padding-left: 142px;
  }

  @include tablet {
    padding-left: 62px;
    margin-bottom: 51px;
    font-size: 56px;
  }

  @include desktop {
    padding-left: 102px;
    margin-bottom: 43px;
  }
}

.sale-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 44px;
  width: 100%;
  margin-bottom: 44px;

  @media screen and (max-width: 767px) {
    width: 285px;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    column-gap: 38px;
    row-gap: 52px;
  }

  @include desktop {
    column-gap: 20px;
    row-gap: 44px;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 48px;
  }
}

.sale-item {
  max-width: 285px;

  @include tablet {
    flex-basis: calc(100% - 38px) / 2;
  }

  @include desktop {
    flex-basis: calc(100% - 60px) / 4;
  }
}

.mob-hidden {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.sale-item__wrap {
  margin-bottom: 8px;
  border-radius: 12px;
  overflow: hidden;
}

.sale-info {
  padding-left: 8px;
  width: 100%;
}

.sale-text-name {
  width: 261px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #86e543;
  margin-bottom: 8px;
}

.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale-text-sale {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: line-through;
  color: #8d9289;
}

.sale-text-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}

.sale__link {
  display: block;
  padding: 16px 48px;
  margin: 0 auto;
  width: 153px;
  height: 51px;
  background-color: #ffffff;
  border-radius: 16px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: #01383a;
  transition: $transition-time;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), 0px 4px 10px rgba(134, 229, 67, 0.1);
  }

  @include tablet {
    width: 195px;
    height: 65px;
    font-size: 28px;
  }
}
