$accent-color: #86E543;
$main-text-color: #ffffff;
$secondary-text-color: #86E543;
$green-text-color: #01383A;
$grey-text-color: #8D9289;

$basic-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
